.app-add-form{
  margin-top: 30px;
  background: #3d5a80;
  color: white;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
  padding: 25px;
}
.add-form{
  margin-top: 20px;
}
.add-form input{
  margin: 0 20px;
}